<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>300773761826-rqcmk2oea7iptl3gls95qd5eoolvvs80.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.300773761826-rqcmk2oea7iptl3gls95qd5eoolvvs80</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>300773761826-nr0th3rdfnthtj2ovee4ppf7cn391cs7.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBkn8MXZXzgDp_SJhA0cmG4dpRErZINhmY</string>
	<key>GCM_SENDER_ID</key>
	<string>300773761826</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dreamNote</string>
	<key>PROJECT_ID</key>
	<string>dream-note-fba4c</string>
	<key>STORAGE_BUCKET</key>
	<string>dream-note-fba4c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:300773761826:ios:3c5a9576824d2c2be1fb7b</string>
</dict>
</plist>